black==22.10.0
blinker==1.6.3
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
factory_boy==3.3.0
Faker==6.6.1
Flask==2.2.5
Flask-SQLAlchemy==3.0.5
greenlet==3.1.1
idna==3.10
isort==5.9.3
itsdangerous==2.1.2
Jinja2==3.1.6
MarkupSafe==2.1.5
mccabe==0.6.1
mypy==1.4.1
mypy_extensions==1.0.0
pathspec==0.11.2
platformdirs==4.0.0
pycodestyle==2.8.0
pyflakes==2.4.0
requests==2.18.0
SQLAlchemy==2.0.43
tomli==2.0.1
types-requests==2.31.0.7
typing_extensions==4.7.1
tzdata==2025.2
urllib3==2.5.0
Werkzeug==3.1.3
