amqp==5.3.1
billiard==4.2.1
black==23.3.0
blinker==1.6.3
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
distlib==0.4.0
exceptiongroup==1.2.2
factory_boy==3.3.0
Faker==6.6.1
filelock==3.12.2
flake8==5.0.4
flake8-bugbear==23.3.12
flake8-pie==0.16.0
Flask==2.2.5
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==3.1.1
identify==2.4.10
idna==3.10
iniconfig==2.0.0
isort==6.0.0b2
itsdangerous==2.1.2
Jinja2==3.1.5
kombu==3.0.31
MarkupSafe==2.1.5
mccabe==0.7.0
mypy==1.4.1
mypy_extensions==1.0.0
nodeenv==1.9.1
packaging==24.0
pathspec==0.11.2
pillow==9.5.0
postgres==4.0
pycodestyle==2.10.0
pytest==5.4
PyYAML==6.0.1
requests==2.18.0
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
seed-isort-config==2.2.0
SQLAlchemy==2.0.37
urllib3==2.3.0
virtualenv==20.34.0
