black==21.12b0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
isort==5.9.3
mypy==0.931
pytest==7.0.1

certifi==2025.8.3
charset-normalizer==3.4.3
idna==2.5
requests==2.18.0
urllib3==1.21.1

blinker==1.6.3
click==8.1.8
Flask==2.2.5
itsdangerous==2.1.2
Jinja2==3.1.6
MarkupSafe==2.1.5
Werkzeug==2.2.3

Flask-SQLAlchemy==3.0.5
greenlet==3.1.1
Jinja2==3.1.6
SQLAlchemy==2.0.43
typing_extensions==4.7.1

factory_boy==3.3.3
Faker==37.8.0
tzdata==2025.2
